body{
    zoom: 25%;
}
.hero{
    position: relative;
    background-color: #000;
    border-bottom: 10px;
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-width:100 px;
    display: flex;
    align-items: flex-start;
    
    
    
}
.hero-img{
    margin: top 1px;
    top: 1%;
    right: 15%;
    width: 1500px;
    position: absolute;
}
  
nav{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}

h1{
    color: white;
    font-size: 100px;
}
/* .ul{flex: 1;}  */

nav ul li{
    border: 2px solid red;
    display: inline-block;
    padding: 20px 20px;
    border-radius: 20px;
    list-style-type: none;
    border-spacing: 200px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 60px;
    font-size: 300px;
}

nav ul li a{
    margin: 40px;
    color: white;
    font-size: 60px;
    text-decoration: none;
    transition: transform .4s;
    

}

nav ul li:hover{
   
    background-color: #f9004d;
    color:white;
    transform: scale(1.2);
}



span{
    color: red;
}

.paragraph{
     color: white;
     position: absolute;
     top: 30%;
     left: 10%;
     font-size: 40px;
     line-height: 30px;
}

h3{
    margin-top: 50%;
    font-size: 200px;
    font-weight: bold;
}

h2{
    font-size: 200px;
}

.paragraph h1{

    font-size: 180px;
}

.content form{
    /* font-size: 20px; */
    width:800px;
    /* height: 700px; */
    position: relative;
    max-width: 100%;
    border-radius: 30px;
}


.content form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid red;
    outline:none;
    border-radius: 30px;
}

.content form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: red;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.about{
    width: 100%;
    padding:100px 0px;
    background-color: black;
}
.about img{
    height: 1800px;
    width: 1800px;
}

.text{
    width: 550px;
}
.primary{
    width: 1130px;
    max-width: 95%;
    /* margin: auto 0; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-left: 30%;
}
.primary-img{
 margin-top: 200%;
 top:50%;
 padding: 30px;
 margin-right: 20%;
}
.mail{
    font-size: 40px;
    height: 100px;
    
}

.btn-mail{
    margin-top: 10px;
    font-size: 40px;

}

.text h1{
    margin-top: 200%;
    font-size: 200px;
    word-spacing: 25px ;
}

.text h1 span{
    color:red;
}

.text p{
    font-size:80px;
    width:2000px;
    color:#fcfc;
    letter-spacing: 10px;
    line-height: 70px;
    margin-bottom: 45px;
}

button{
    font-size: 40px;
    height:60px;
    width: 400px;
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border:2px solid red;
    cursor: pointer;
}

.skills{    
    background:black;
    width: 100%;
    height: 100%;
    padding: 100px 0px;
    color: white;
}

.title h2{
    color: white;
    font-size: 200px;
    text-align: center;
    width: 100%;
    justify-items: center;
    left: 50%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin-right:400px ;
}

.card{
    height: 700px;
    width: 700px;
    border: 2px solid red;
    border-radius: 30px;
    padding:30px 25px;
    position:relative;
    overflow: hidden;
    text-align: center;
    background: #191919;
    margin: 20px;
    left:5%;
   
}

.card:hover{
    animation-name: card;
    animation-duration: 1s;
    animation-iteration-count:1;
}

@keyframes card{
    from{
        width: 800px;
    }
    to{
        width:1000px;
    }
}
.card h5{
    font-size: 70px;
}

.para p{
    color:#fcfc;
    font-size: 50px;
    line-height: 80px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 25px;
}

.card .button{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;  
    font-weight: bold;
    border-radius: 30px;
    padding: 9px 50px;
    transition: .4s;
    cursor: pointer;
}

.card .button:hover{
    background-color: transparent;
    border:2px solid red;
    cursor:pointer;
}

.contact{
    width:100%;
    height: 100px;
    background-color: #191919;
    margin-top: -300px;
}


.contact p{
    margin-bottom:10%;
    color: white;
    background: black;   
    font-size: 200px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    height: 600px;
}

.contact-img1{
    margin: 300px;
    margin-left: 2100px;
    padding: 2x;
    position: absolute;
    height: 150px;
    border: 2px solid red;
    cursor: pointer;
}

.contact-img2{
    margin: 300px;
    margin-left: 2400px;
    padding: 2x;
    position: absolute;
    height: 150px;
    border: 2px solid red;
    cursor: pointer;
}

.contact-img3{
    margin: 300px;
    margin-left: 2700px;
    padding: 2x;
    position: absolute;
    height: 150px;
    border: 2px solid red;
    cursor: pointer;
    transition: .4s;
}




